<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="static/css/contact-style.css">
</head>
<body>
    <header id="mainHeader" class='header'>
        <div>
          <h1>Inviso</h1>
        </div>
        <nav>
          <a class="home" href="/">Home</a>
          <a class="about" href="/about">About</a>
          <a class="services"href="/services">Services</a>
          <a class="contact" href="/contact">Contact</a>
          <a href="static/Inviso.pdf">Terms & Conditions</a>
        </nav>
      </header>

      <div class="background-image">
        <img
          src="https://b.kisscc0.com/20180517/lyw/kisscc0-web-development-web-design-web-developer-search-en-computer-5afd949b0c3854.0298527315265680910501.jpg"
          alt="">
        <div class="overlay-text">
        <h1>CONTACT US</h1>
        <p>
            <a class="home" href="about.html" style="color: white;">Home</a> / 
            <span style="color: #56B8E6;">Contact Us</span>
        </p>
        </div>
      </div>

      <main>
        <div class="contact-form">
          <h2>Send us a Message</h2>
          <form>
            <div class="input-group">
              <p>Name</p>
              <input type="text" class="form-control" placeholder="Your name" aria-label="Name">
            </div>
            <div class="input-group">
              <p>Email</p>
              <input type="email" class="form-control" placeholder="Your email" aria-label="Email">
            </div>
            <div class="input-group">
              <p>Subject</p>
              <input type="text" class="form-control" placeholder="Subject" aria-label="Subject">
            </div>
            <div class="input-group">
              <p>Message</p>
              <textarea class="form-control" placeholder="Your message" aria-label="Message"></textarea>
            </div>
            <button class="btn-primary full-width-btn">Send Message</button>
          </form>
        </div>
      </main>


      <div class="contact-section">
        <div class="contact-column">
          <h2>Contact Us</h2>
          <p>Got questions or feedback? Reach out to us anytime! Our team is here to assist you with all your inquiries and support needs.</p>
        </div>
        <div class="contact-column">
          <h2>Useful Links</h2>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="static/Inviso.pdf">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="contact-column">
          <h2>Inviso</h2>
          <p>Plot 8-11, Techzone 2</p>
          <p>Greater Noida, Uttar Pradesh</p>
          <p>201310</p>
          <p><strong>Email:</strong> inviso76@gmail.com</p>
          <p><strong>Contact No:</strong> +91 70734 17707</p>
        </div>
      </div>
    
      <footer>
        <p>&copy; 2024 Inviso</p>
      </footer>
    </main>
</body>
</html>
