<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inviso-Services</title>
    <link rel="stylesheet" href="static/css/services-style.css">
</head>
<body>
    <header id="mainHeader" class='header'>
        <div>
          <h1>Inviso</h1>
        </div>
        <nav>
          <a class="home" href="/">Home</a>
          <a class="about" href="/about">About</a>
          <a class="service" href="/services">Services</a>
          <a class="contact" href="/contact">Contact</a>
          <a href="static/Inviso.pdf">Terms & Conditions</a>
        </nav>
      </header>

      <div class="background-image">
        <img
          src="https://b.kisscc0.com/20180517/lyw/kisscc0-web-development-web-design-web-developer-search-en-computer-5afd949b0c3854.0298527315265680910501.jpg"
          alt="">
        <div class="overlay-text">
        <h1>OUR SERVICES</h1>
        <p>
            <a class="home" href="index.html" style="color: white;">Home</a> / 
            <span style="color: #56B8E6;">Services</span>
        </p>
        </div>
      </div>

      <div class="main">
          <div class="services">
            <img src="images/Desktop - 3.png" alt="">
          </div>
          <div class="main-container">
            <div class="flex-container">
                <div class="box">
                    <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="text">
                        <h2>Image Encoding</h2>
                        <p>Hide confidential messages within our pre-processed images using the most advanced encryption techniques. Secure your messages with AES-256 encryption and password protection delivered to you with easy access. Encode messages into various image formats including JPG and PNG.</p>
                    </div>
                </div>
                <div class="box">
                    <img src="https://images.unsplash.com/photo-1687071523279-93ec8e5e53b7?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="text">
                        <h2>Decoding Capability</h2>
                        <p>Easily decode the hidden messages from the encoded images with or without passwords. Intuitive and user-friendly interface for seamless decoding process with tailored solutions available for business and organizations with speciifc encoding/decoding needs.</p>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="box">
                    <img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 3">
                    <div class="text">
                        <h2>Subscription Plans</h2>
                        <p>You can choose from flexible variety of subscription plans individually tailored according to your needs. Our platform offer steganography encryption services at extremely feasible prices with advanced security guaranteed to you and your specific organization.</p>
                    </div>
                </div>
                <div class="box">
                    <img src="https://images.unsplash.com/photo-1553775282-20af80779df7?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="text">
                        <h2>24/7 Customer Support</h2>
                        <p>We offer dedicated customer support team 24/7 round the clock, available to assist your any queries or issues. With regular updates and enhancements we aim to improve functionality and security of our platform, inclusive of your feedback.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-section">
            <div class="contact-column">
              <h2>Contact Us</h2>
              <p>Got questions or feedback? Reach out to us anytime! Our team is here to assist you with all your inquiries and support needs.</p>
            </div>
            <div class="contact-column">
              <h2>Useful Links</h2>
              <ul>
                <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="static/Inviso.pdf">Terms and Conditions</a></li>
              </ul>
            </div>
            <div class="contact-column">
              <h2>Inviso</h2>
              <p>Plot 8-11, Techzone 2</p>
              <p>Greater Noida, Uttar Pradesh</p>
              <p>201310</p>
              <p><strong>Email:</strong> inviso76@gmail.com</p>
              <p><strong>Contact No:</strong> +91 70734 17707</p>
            </div>
          </div>
          
      
        </main>
      
          <footer>
          <p>&copy; 2024 Hide-X</p>
        </footer>
      
      </div>


    
</body>
</html>